<div class="videos-search">
  <div class="columns">
    <div class="column col-3 hide-sm">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="column col-9 col-xs-12">
      <div class="columns">
        <div class="column col-12 col-xs-12">
          <div class="text-center heading">
            『<%= params[:search] %>』がついた動画
          </div>
        </div>
        <% @videos.each do |video| %>
          <div class="column col-4 col-xs-12 tile-gapless">
            <%= render 'shared/video_tile', video: video %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
