<div class="videos-search">
  <div class="columns">
    <div class="column col-3 hide-sm">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="column col-9 col-xs-12">
      <div class="columns">
        <div class="column col-12 col-xs-12">
          <div class="text-center heading">
            『<%= params[:search] %>』がついた動画
          </div>
        </div>
        <div id="videos" class="column col-12 col-xs-12">
          <div class="page columns">
            <%= render partial: 'shared/video_tile', collection: @videos, as: :video %>
          </div>
        </div>
        <%= paginate @videos %>
      </div>
    </div>
  </div>
</div>
