<!-- admax -->
<div class="columns text-center" style="height: 250px; margin-bottom: 16px;">
  <script src="//adm.shinobi.jp/s/6ae06900857e990dde857529e0916eff"></script>
</div>
<div class="columns text-center" style="height: 250px; margin-bottom: 16px;">
  <script src="//adm.shinobi.jp/s/189a63db85df35c68b6f4bcc2842ff8e"></script>
</div>
<!-- admax -->

<div class="card" style="margin-left: -1rem">
  <div class="text-center">
    <h5 style="margin: 16px 0px;">人気のタグ</h5>
  </div>
  <div class="divider"></div>
  <div style="padding-left: .5rem;">
    <% @tags.each do |tag| %>
      <%= link_to search_videos_path(search: tag.to_s), style: "text-decoration: none;" do %>
        <li class="label label-primary label-lg inline-block" style="padding: 4px 8px; margin-bottom: 4px;">
          <i class="icon ion-ios-pricetag"></i>&nbsp;<%= tag.name %>
        </li>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card" style="margin-left: -1rem">
  <div class="text-center">
    <h5 style="margin: 16px 0px;">人気ランキング</h5>
  </div>
  <div class="divider"></div>
</div>
