/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

.navbar-brand {
  font-weight: bold; font-size: 20px;
}

.card {
  .card-title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
  }
}

.tile-gapless {
  padding: 0px 10px;
}

.tiled {
  .tile-icon {
    img {
      width: 120px;
      height: 80px;
    }
  }
  .tile-content {
    h2 {
      font-size: 1em;
      font-weight: bold;
      margin: 0px;
    }
    .meta {
      span {
        margin-right: 16px;
      }
      margin-top: 16px;
      color: #666;
    }
  }
}

.heading {
  padiing: 16px;
  font-size: 16px;
  font-weight: bold;
}

.parent {
  overflow-x: auto;
  overflow-y:hidden;
  width:100%;
  white-space: nowrap;
  padding: 8px 0px;
  .child {
    text-align: center;
    display: inline-block;
    padding: 4px 8px;
    vertical-align: top;
    white-space: normal;
  }
}
.vs_vttl {
  h1 {
    margin: 0px;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: bold;
  }
}
.vs_vthmb {
  img {
    object-fit: cover;
    width: 100%;
  }
}
.vs_vtg {
  ul {
    margin: 0px;
    list-style: none;
    padding: 8px 0px;
    li {
      display: inline-block;
      padding: 4px 8px;
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 4px;
    }
  }
}
.vs_vmt {
  padding: 0px 16px;
}
